<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>登录</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>

    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../static/fonts/iconic/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/util.css">
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    <link rel="stylesheet" type="text/css" href="../static/css/sweetalert.css">
</head>
<body>
<div class="limiter">
    <div class="container-login100" style="background-image: url('../static/images/bg.jpg');">
        <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
            <form class="login100-form">
                <span class="login100-form-title p-b-49">登录</span>

                <div class="wrap-input100 m-b-23">
                    <span class="label-input100">手机号</span>
                    <input class="input100" type="text" id="phone" name="phone" placeholder="请输入手机号">
                    <span class="focus-input100" data-symbol="&#xf206;"></span>
                </div>

                <div class="wrap-input100">
                    <span class="label-input100">密码</span>
                    <input class="input100" type="password" id="password" name="password" placeholder="请输入密码">
                    <span class="focus-input100" data-symbol="&#xf190;"></span>
                </div>

                <div class="text-right p-t-8 p-b-31">
                    <a href="javascript:build()">忘记密码？</a>
                </div>

                <div class="wrap-login100-form-btn">
                    <div class="login100-form-bgbtn"></div>
                    <button type="button" class="login100-form-btn" onclick="login();">登 录</button>
                </div>

                <div class="txt1 text-center p-t-54 p-b-20">
                    <span>第三方登录</span>
                </div>

                <div class="flex-c-m">
                    <a href="javascript:build()" class="login100-social-item bg1">
                        <i class="fa fa-wechat"></i>
                    </a>

                    <a href="javascript:build()" class="login100-social-item bg2">
                        <i class="fa fa-qq"></i>
                    </a>

                    <a href="javascript:build()" class="login100-social-item bg3">
                        <i class="fa fa-weibo"></i>
                    </a>
                </div>

                <div class="flex-col-c p-t-25">
                    <a href="register" class="txt2">立即注册</a>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="../static/js/jquery-3.2.1.min.js"></script>
<script src="../static/js/sweetAlert.min.js"></script>
<script src="../static/js/login.js"></script>
</body>
</html>